{% extends 'base.html' %}
{% block body %}
    <div class="d-flex justify-content-between m-4">
        <div class="d-inline p-2 text-bg-dark m-3">Total Amount Deposited :- {{balance.total}}</div>
        <div class="d-inline p-2 text-bg-dark m-3">Balance Remaining:- {{balance.balance}}
        </div>
        <div class="d-inline p-2 text-bg-dark m-3">Expense This Month :- {{balance.total - balance.balance}}</div>
    </div>
    <form action="/" method="POST" class="mx-auto t-5 w-50">
        <div class="mb-3">
            <label for="exampleInput" class="form-label">Amount Spent</label>
            <input type="text" class="form-control" name="Amount" placeholder="Amount spent">
        </div>
        <div class="mb-3">
            <label for="exampleInput" class="form-label">Reason for expense</label>
            <input type="text" class="form-control" name="Expense" placeholder="Reason for expense">
        </div>
        <div class="d-grid mx-auto b-2">
            <button type="submit" class="btn btn-dark b-2">Add Expense</button>
        </div>
    </form>
    <div class="d-grid gap-2 col-6 mx-auto m-2">
        <a href="/deposit" class="btn btn-dark" type="button">Deposit</a>
    </div>
    {% if content|length == 0 %}
    <div class="alert alert-secondary w-75 mx-auto m-4" role="alert">
        No expense records present. Add Expenses!
    </div>
    {% else %}
    <table class="table table-light table-striped m-5 mx-auto w-75">
        <thead>
            <tr>
                <th scope="col">SNo</th>
                <th scope="col">Expense</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in content %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{i.Expense}}</td>
                <td>{{i.Amount}}</td>
                <td>{{i.Date}}</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <a href="/update/{{i.SNO}}" class="btn btn-outline-dark mx-1" type="button">Update</a>
                        <a href="/delete/{{i.SNO}}" class="btn btn-outline-dark mx-1" type="button">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endif %}
    {% endblock body %}