{% extends 'base.html' %}
{% block body %}
    <form action="/withdraw" method="POST" class="mx-auto t-5 w-50">
        <div class="mb-3">
            <label for="exampleInput" class="form-label">Enter Withdrawal Amount</label>
            <input type="text" class="form-control" name="Amount" placeholder="Amount spent">
        </div>
        <div class="d-grid mx-auto b-2">
            <button type="submit" class="btn btn-dark b-2">Update Balance</button>
        </div>
    </form>
    {% endblock body %}